.indicator {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: top 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
